.leftbox {
    text-align: center;
    color: white;
    /* background-color: blue;  */
    width: 20%
}
.rightbox {
    text-align: center;
    color: white;
    /* background-color:green; */
    width: 25%
}
.middlebox {
    text-align: center;
    color: white;
    background-image:linear-gradient(to right, blue , black);
    width: 55%
}

.mainbox {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex: 1;

    
}

.h1 {
    font-size: x-large;
}
